.card {
  padding: 20px;
  width: 300px;
  text-align: center;
  background-color: rgb(94, 29, 77);
  border: 1px solid #000000;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgb(0 0 0 / 0.1);
}

.card__image {
  margin-block-end: 20px;
  width: 100px;
  height: 100px;
  border: 2px solid #007bff;
  border-radius: 50%;
}

.card__title {
  font-size: 16px;
  margin-block-end: 15px;
}

.card p {
  line-height: 150%;
}

.card p:first-of-type {
  color: #878787;
}

.card:hover {
  box-shadow:  4px 4px 6px 0 rgba(44, 4, 119, 0.5),
              -4px -4px 6px 0 rgba(59, 2, 194, 0.5), 
    inset -4px -4px 6px 0 rgba(86, 6, 160, 0.2),
    inset 4px 4px 6px 0 rgba(95, 8, 207, 0.4);
}